html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* IDIOMA*/

.ul-idioma {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  position: relative;
  text-align: end;
  margin: 1rem 8rem;
  cursor: pointer;

}

.opcion {
  text-decoration: underline;
  border-radius: .5rem;
  padding: .5rem;
}

.ul-container {
  position: absolute;
  margin-top: 1rem;
  right: -2rem;
  background: rgb(241, 234, 234);
  border: 1px solid #ccc;
  padding: .5rem;
  border-radius: .5rem;
  border: 1px solid #ccc;
  display: none;
  min-width: 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.lista-idioma {
  padding: .3em 0;
  list-style: none;

}

.lista-idioma a {
  color: black;
  text-decoration: none;
  color: #333;
  display: block;
}

.lista-idioma a:hover {
  color: rgb(154, 30, 102);
}

.ul-idioma li.opcion:hover .ul-container {
  display: block;
}


body {
  margin: 0;
  background: linear-gradient(135deg, rgba(208, 65, 94, 1.000) 0.000%, rgba(208, 65, 94, 1.000) 20.000%, rgba(214, 87, 103, 1.000) 20.000%, rgba(214, 87, 103, 1.000) 40.000%, rgba(219, 121, 113, 1.000) 40.000%, rgba(219, 121, 113, 1.000) 60.000%, rgba(224, 165, 124, 1.000) 60.000%, rgba(224, 165, 124, 1.000) 80.000%, rgba(230, 216, 134, 1.000) 80.000% 100.000%);
  background-size: cover;
  overflow-y: hidden;
}
/* NAV */
.container-nav ul {
  display: flex;
  justify-content: space-around;
  font-family: "Outfit", sans-serif;
}

.container-nav ul li {
  list-style: none;

}

.container-nav ul li a {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;

}

.container-nav ul li a:hover {
  color: #902553;
  border-bottom: 3px solid #902553;
  transition: all .5s;
}

.container-nav {
  font-size: 1.5rem;
  padding: 1rem;
}

.icono-agregar {
  color: #270763;
  font-size: 2rem;
  padding-left: .3rem;
}

.icono-agregar:hover {
  color: #4711ab;
}

.icono-inicio {
  color: #610033;
  font-size: 2rem;
  padding-left: .3rem;
}

.icono-inicio:hover {
  color: #990453;
}

.exit {
  font-size: 2rem;
  color: rgb(248, 20, 20);
  padding-left: .3rem;
}

.exit:hover {
  color: rgb(247, 134, 134);
}

/* CONTAINER */
.container {
  height: 90%;
  background: #faebd7a6;
  width: 90vw;
  margin: 1rem auto;
  border-radius: 3rem;
}
form{
    display: flex;
    flex-direction: column;
    padding: 5rem;
    font-size: 1.5rem;
}
label{
    margin: 1rem 0;
      font-family: "Outfit", sans-serif;
}
form input{
    padding: 1rem;
  border-radius: .5rem;
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin: 1rem 0;
    font-family: "Outfit", sans-serif;
}
input:focus{
    border: 3px solid rgb(127, 27, 77);
}
textarea{

      font-family: "Outfit", sans-serif;
      font-size: 1.3rem;
  padding: 1rem;
  border: 2px solid rgba(39, 38, 38, 0.534);
  border-radius: .5rem;
}
textarea:focus{
        border: 3px solid rgb(127, 27, 77);
}